*{
     
    font-family: serif;

}
p{
    margin: 0px;
    padding: 0px;
    
}

.logo{
    height: 100px;
}

body{
    }

.icon{
    height: 50px;
}

footer{
    border: solid 1px black;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: #343a40;
    color:#6d909f;
}

.colortitle{
    color: black;
    background-color: black;
}


.space{
    margin-top: 20    px;
    margin-bottom: 20px;
}
h2{
    margin-top: 10px;
}
.header{
 
}

.firstsect{
  
    padding-bottom: 20px;
    padding: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.checkboxes{
    display: flex;
flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #343a40;
    color:white;
}